@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

/*body*/
#main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 500ms ease;
}

.main-light{
    background-image: linear-gradient(
        130deg,
        hsl(193deg 27% 58%) 0%,
        hsl(190deg 29% 62%) 10%,
        hsl(185deg 31% 67%) 20%,
        hsl(180deg 32% 71%) 30%,
        hsl(176deg 34% 75%) 40%,
        hsl(172deg 35% 79%) 50%,
        hsl(174deg 33% 82%) 60%,
        hsl(175deg 31% 84%) 70%,
        hsl(177deg 29% 87%) 80%,
        hsl(180deg 27% 89%) 90%,
        hsl(180deg 26% 92%) 100%
    );
}

.main-dark{
    background-image: linear-gradient(
        130deg,
        hsl(0deg 0% 2%) 0%,
        hsl(180deg 4% 5%) 10%,
        hsl(204deg 14% 7%) 20%,
        hsl(204deg 20% 10%) 30%,
        hsl(203deg 25% 13%) 40%,
        hsl(203deg 32% 15%) 50%,
        hsl(201deg 30% 18%) 60%,
        hsl(204deg 29% 22%) 70%,
        hsl(203deg 29% 25%) 80%,
        hsl(202deg 27% 28%) 90%,
        hsl(203deg 26% 31%) 100%
    );
}

/*title*/
.title{
    text-align: left;
    padding: 10px;
    margin: 5px auto;
    font-size: 28px;
    flex: 1;
}

.title-light{
    color: #f3f3f3;
    text-shadow: 2px 1.5px 3.5px rgb(13, 58, 77);
}

.title-dark{
    color: #E4F1FF;
    text-shadow: 2px 1.5px 3.5px #cbd6e0;
}

.mode{
    width: 85%;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*Switch button*/

#mode-img{
    outline: 0;
    border: 0;
    display: block;
    margin: 0 auto;
    padding: 10px 5px;
    border-radius: 5px;
    transition: all 500ms ease;
}

#mode-img:hover{
    cursor: pointer;
}

/*info*/
.weather{
    width: 85%;
    padding: 10px;
    margin: 10px 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 10px;
    background-image: linear-gradient(
        130deg,
        hsl(193deg 100% 30%) 0%,
        hsl(194deg 100% 28%) 7%,
        hsl(195deg 100% 26%) 15%,
        hsl(195deg 100% 24%) 24%,
        hsl(196deg 100% 22%) 33%,
        hsl(197deg 100% 20%) 43%,
        hsl(199deg 100% 19%) 54%,
        hsl(200deg 100% 17%) 64%,
        hsl(201deg 100% 15%) 76%,
        hsl(202deg 100% 14%) 87%,
        hsl(203deg 100% 12%) 100%
    );
    box-shadow: 7px 8px 20px #00273f;
}

/*searching content*/
.search{
    width: 100%;
    padding: 10px auto;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.city-name{
    flex: 1;
    border: 0;
    outline: 0;
    padding: 10px;
    font-size: 16px;
    border-radius: 40px;
    background-color: #fff;
    color: #000;
    margin-right: 10px;
}

.city-search{
    border: 0;
    outline: 0;
    padding: 10px;
    font-size: 16px;
    border-radius: 50%;
    background-color: #fff;
    transition: all 500ms ease;
}

.city-search:hover{
    cursor: pointer;
}

/*deploying content*/

.weather-info{
    width: 100%;
    padding: 10px auto;
    margin: 5px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #E4F1FF;
}

.main-img{
    width: 45%;
    display:block;
    margin: 5px auto;
}

.city-info,
.temp{
    text-align: center;
    padding: 5px 0px;
}

.city-info{
    font-size: 25px;
}

.temp{
    font-size: 28px;
}

.condition{
    text-align: center;
    font-size: 15px;
    padding: 2px 0px 5px;
}

.details{
    width: 100%;
    padding: 10px auto;
    margin: 20px auto 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#humidity-info,
#wind-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
}

.humidity-img,
.wind-img{
    width: 25%;
    display: block;
    margin: 0 auto;
}

/*iPad design*/
@media only screen and (min-width: 768px){
    
    /*title*/
    .title{
        padding: 15px;
        margin: 10px auto;
        font-size: 30px;
    }

    .mode{
        width: 80%;
    }

    /*Switch button*/
    #mode-img{
        padding: 10px;
    }

    /*info*/
    .weather{
        width: 80%;
        padding: 15px;
        margin: 10px;
    }

    /*searching content*/
    .city-name{
        font-size: 17px;
    }

    .city-search{
        font-size: 17px;
    }

    /*deploying content*/
    .weather-info{
        padding: 15px auto;
        margin: 10px auto;
    }

    .main-img{
        width: 40%;
    }

    .condition{
        font-size: 16px;
    }

    .details{
        padding: 15px auto;
    }

    #humidity-info,
    #wind-info{
        font-size: 17px;
    }

    .humidity-img,
    .wind-img{
        width: 30%;
    }
}

/*Laptop design*/
@media only screen and (min-width: 992px){
    /*title*/
    .title{
        font-size: 40px;
    }

    .mode{
        width: 75%;
    }

    /*Switch button*/
    #mode-img{
        padding: 15px;
    }

    /*info*/
    .weather{
        width: 75%;
        padding: 20x;
        margin: 15px;
    }

    /*searching content*/
    .city-name{
        font-size: 18px;
    }

    .city-search{
        font-size: 18px;
    }

    /*deploying content*/
    .weather-info{
        padding: 20px auto;
    }

    .main-img{
        width: 35%;
    }

    .city-info{
        font-size: 29px;
    }
    
    .temp{
        font-size: 30px;
    }

    .condition{
        font-size: 17px;
    }

    .humidity,
    .wind{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #humidity-info,
    #wind-info{
        font-size: 18px;
    }

    .humidity-img,
    .wind-img{
        width: 35%;
    }
}

/*desktop design*/
@media only screen and (min-width: 1200px){
    .mode{
        width: 45%;
    }

    /*info*/
    .weather{
        width: 40%;
    }

    .main-img{
        width: 25%;
    }

    .city-info{
        font-size: 30px;
    }
    
    .temp{
        font-size: 32px;
    }

    .condition{
        font-size: 18px;
    }
}